@import "../../../../../../styles/base";

.open-collapse-link {
  cursor: pointer;
  font-size: $text-big-font-size;
  padding: 1em;
  color: $text-color;
}

.collapse-body{
  padding:10px;
}

.collapse-container{
  margin:1em;
  text-align: left;
}
