@import "../../../../../../styles/base";

.filter-container {
  padding: 40px;
  border-radius: 17px;
  border: 2px solid $primary-color;
}

.filter-subtitle {
  color: $primary-color;
  padding: 10px;
}
