// colors
$white-color: #FFFFFF;

// primary, secondary
$primary-color: #ffc107;
$primary-color-lighter: #ffd862;
$primary-color-darker: #ca9b12;
$secondary-color: #37474f;
$danger-color: red;

// Components
$view-max-width: 1200px;
$device-max-width: 320px;
$pc-min-width: 650px;

$text-font-size: 15px;
$text-small-font-size: 10px;
$text-big-font-size: 20px;
$title-font-size: 65px;
$subtitle-font-size: 12px;
$size-1: 4em;
$mobile: 768px;
$subtitle-color: none;
// Misc
$text-color: #37474f;
$light-text-color: #949da4;
$color-body-bg: #F5F5F5;
$color-shadow-light: lightgrey;
$title-font: 'Open Sans Condensed', sans-serif;


//Navbar
$navbar-item-hover-color: $primary-color;
$navbar-tab-hover-border-bottom-color: $primary-color;
$navbar-tab-active-color: $primary-color;
$navbar-tab-active-border-bottom-color: $primary-color;
$navbar-dropdown-arrow: $primary-color;
$border-light-color: #ddd;
