@import "../../styles/base";

.picture-card {
  width:255px;
  height: 255px;
  object-fit: cover;
  padding-bottom:10px;
  border-radius: 8px !important;
}

.picture-card-container {
  text-align: center;
}

