@import "../../styles/base";

.custom-modal {
  color: $text-color;
  text-align: center;
  border-radius: 15px;

  input {
    padding: 5fr;
    margin: 5px;
  }

  .modal-title-container {
    background-color: $primary-color;
    color: $white-color;
    padding: 30px;
    font-size: 20px;
    width: 100%;
    text-align: center;
  }

}

.modal {
  overflow: auto !important;
}
