@import "../../../../styles/base";

.navigation-bar {
  padding: 0 50px 0 0;
  border-bottom: 0.5px solid $border-light-color;
}

.brand-link {
  font-family: $title-font;
  font-size: 30px;
  padding: 20px !important;

  &:hover {
    font-weight: bold;
  }
}

@media (max-width: $mobile) {
  .navigation-bar {
    padding: 10px;
  }
}


