@import "../../styles/base";

.subtitle-container {
  padding: 10px;
}

.subtitle {
  text-shadow: 1px 1px 2px $color-shadow-light;
  font-family: $title-font;
  //text-transform: uppercase;
  font-weight: bold;
}

//@media (max-width: $mobile) {
//  .subtitle-container {
//    text-align: center;
//  }
//}
