@import "../../styles/base";

.button-group {
  background-color: $primary-color;
  border-radius: 1px;
  padding: 10px;
  color: $white-color;
  display: inline-block;
  font-weight: bold;
  box-shadow: none;
  border: none;

  &:hover {
    background-color: $primary-color-darker;
  }
}

.button-selected {
  background-color: $primary-color-darker;
}


