@import "../../../../styles/base";

.animal-detail-picture-container {
  text-align: center;
  align-items: center;
  display: block;

  .animal-detail-picture {
    width: 500px;
    height: 500px;
    object-fit: cover;
    padding: 10px;
    border-radius: 30px;
    align-items: center;
  }

}

