@import "../../styles/base";

.animal-card-container {
  border: 1px solid $color-shadow-light;
  width: 257px;
  text-align: center;
  border-radius: 10px !important;

  &:hover {
    -webkit-box-shadow: 0px 6px 19px 8px rgba(194, 194, 194, 1);
    -moz-box-shadow: 0px 6px 19px 8px rgba(194, 194, 194, 1);
    box-shadow: 0px 6px 19px 8px rgba(194, 194, 194, 1);
  }

  .animal-info-card {
    padding: 10px;
    color: #37474f;
  }

  .animal-name-card {
    font-family: $title-font;
    font-size: 37px;
    font-weight: bold;
    text-transform: uppercase;
  }
}




